<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="com.huapai.dao.impl.UserDaoImpl">
        <!-- collaborators and configuration for this bean go here -->
    </bean>
    
    <bean id="user" class="com.huapai.pojo.User">
        <property name="id" value="1002"></property>
        <property name="username" value="苟勾"></property>
        <property name="password" value="gougou"></property>
        <property name="info" value="一直在稳定发挥"></property>
    </bean>

</beans>