<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--  包扫描路径  -->
    <context:component-scan base-package="com.huapai"/>
    
    <!--  JDBC配置文件  -->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    
    <!--  Dao层扫描  -->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.huapai.dao"/>
    </bean>
    
    <!--  sqlSession  -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <!--  配置数据源  -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--    要管理和SQLSession同一个的数据源才能有效的管理事务    -->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--
        事务通知
            name="transfer"
                方法的名字
            rollback-for="java.lang.Exception"
                哪些情况回滚
            timeout="-1"
                连接超时时间
            read-only="false"
                是否只是读的操作
            propagation="REQUIRED"
                事务传播行为
            isolation="DEFAULT"
                事务隔离级别
     -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!--     需要被管理事务的方法       -->
            <tx:method name="transfer"/>
            <tx:method name="selectAccountByAccount" read-only="true" propagation="SUPPORTS"/>
        </tx:attributes>
    </tx:advice>
    
    <aop:config>
        <!-- 切点 -->
        <aop:pointcut id="pt" expression="execution(* com.huapai.service.impl.AccountServiceImpl.transfer(..))"/>
        
        <!-- 配置增强 -->
<!--        <aop:advisor advice-ref="txAdvice" pointcut-ref="pt"/>-->
    </aop:config>
    
    <!-- 事务注解驱动 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    
    <aop:aspectj-autoproxy/>
    
</beans>