<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>抽奖</title>
</head>
<body>
    <div>
        <form action="http://localhost:8081/lucy/add">
            输入用户ID：<input type="text" placeholder="请输入用户的ID" name="userId">
            <input type="submit">
        </form>
        
        <table border="1" style="text-align: center">
            <tr>
                <th>参加抽奖的用户ID</th>
            </tr>
            <tr th:each="user : ${luckyDraw}">
                <td th:text="${user}"></td>
            </tr>
        </table>
        
        <div>
            <form action="http://localhost:8081/lucy/lucyUser">
                中奖用户：<span th:text="${lucyUser}"></span>
                <br>
                <input type="submit" value="抽取中奖用户">
            </form>
            <a href="http://localhost:8081">返回首页</a>
        </div>
        
    </div>
</body>
</html>